.footer {
  width: 100%;
}

.footer-top-block {
  background-color: #3a3e64;
}

.footer-top-row {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 72px 150px 72px 150px;
}

.location {
  flex-direction: column;
  width: 20%;
  margin-right: 15%;
}

.footer-title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.footer-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
}

.social-icons {
  flex-direction: column;
  width: 20%;
  margin-right: 15%;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-icon {
  border: 1px solid #ffffff;
  /*margin-right: 10px;*/
}

.footer-icon i {
  font-size: 15px;
  color: #ffffff;
  padding: 13px 0;
}

.about {
  width: 30%;
}

.copyright {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
  text-align: center;
}

.copyright i {
  color: #e84545;
  margin: 0 2px;
}

.copyright-white {
  color: #ffffff;
}

.footer-bottom-block {
  background-color: #313454;
}

.footer-bottom-row {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 30px 0 29px 0;
}

@media screen and (max-width: 1154px) {
  .footer-top-row {
    padding: 60px 140px 60px 140px;
  }
}

@media screen and (max-width: 1015px) {
  .footer-top-row {
    padding: 60px 120px 60px 120px;
  }

  .footer-title {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .footer-text {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .footer-icon i {
    font-size: 13px;
    /*padding: 13px 0;*/
  }
}

@media screen and (max-width: 923px) {
  .footer-top-row {
    padding: 50px 100px 50px 100px;
  }

  .footer-title {
    margin-bottom: 16px;
  }

  .footer-text {
    margin-bottom: 16px;
  }

  .footer-icon i {
    font-size: 12px;
    /*padding: 13px 0;*/
  }
}

@media screen and (max-width: 883px) {
  .footer-top-row {
    padding: 50px 40px 30px 40px;
    justify-content: center;
    flex-direction: column;
  }

  .location {
    width: 100%;
    margin-right: 0;
  }

  .social-icons {
    width: 100%;
  }

  .about {
    width: 100%;
  }
  .footer-title {
    margin-bottom: 10px;
  }

  .footer-text {
    margin-bottom: 30px;
  }

  .footer-icons {
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer-icon {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 455px) {
  .footer-icon i {
    font-size: 14px;
  }
}

@media screen and (max-width: 372px) {
  .copyright {
    font-size: 12px;
  }
}
