.header {
  width: 100%;
  height: 100%;
  background: url("../image/img/IMG_20210426_210628_564.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2b2e4a;
  opacity: 0.8;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  position: relative;
  z-index: 1;
}

/*.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
}*/

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e4e1e1;
  flex-wrap: nowrap;
}

.nav-logo {
  margin-left: 0.94rem;
  padding: 38px 0 39px 0;
}

.nav-logo a {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #958c97;
}

.nav-logo a:hover {
  background-color: #1f2424;
}

.logoll {
  font-weight: 100;
  color: #fcf7fc;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  padding: 46px 0 45px 0;
  justify-content: space-between;
  margin-right: 0.94rem;
}

.nav-menu-item {
  margin-right: 50px;
}

.nav-menu-item:hover {
  transform: scale(1.2, 1.2);
  transition: all 0.5s ease;
}

.nav-menu-item:last-child {
  margin-right: 0px;
}

.nav-menu-item a,
.nav-menu-burger a {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
}

.firstscreen {
  /* margin: auto;*/
  padding: 100px 0 150px 0; /*200px 0 157px 0;*/
}

.title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 65px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: justify;
  padding: 0 135px;
  margin-bottom: 41px;
}

.header-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 76px;
  text-align: center;
  padding: 0 110px;
}

.header-button {
  margin: auto;
  display: block;
  max-width: 201px;
  text-align: center;

  background-color: #e84545;
  padding: 18px 0;
}

.hamburger-menu {
  /*display: none;*/
  margin-right: 1.5rem;
}

#menu-toggle {
  opacity: 0; /*скрывается чек-бокс*/
}

.menu-btn {
  display: none; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: end;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  top: 20px;
  left: end;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu-btn > span::before {
  content: "";
  top: -8px;
}
.menu-btn > span::after {
  content: "";
  top: 8px;
}

.nav-menu-burger {
  display: none;
  position: fixed;
  visibility: hidden;
  top: 20px;
  right: -100%;
  width: 150px;
  height: 25%;
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  text-align: center;
  background-color: #958c97;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .nav-menu-burger {
  visibility: visible;
  right: 0;
}

@media screen and (max-width: 1186px) {
  .title {
    font-size: 62px;

    text-align: pre-wrap;
    /*padding: 0 135px;
    margin-bottom: 41px;*/
  }
}

@media screen and (max-width: 1145px) {
  .firstscreen {
    padding: 80px 0 80px 0; /*200px 0 157px 0;*/
  }

  .title {
    font-size: 55px;
    text-align: center;
    padding: 0 100px;
    /*margin-bottom: 41px;*/
  }

  .header-text {
    font-size: 20px;
  }

  .nav-menu {
    padding: 42px 0 40px 0;
  }
}

@media screen and (max-width: 930px) {
  .firstscreen {
    padding: 100px 0 70px 0; /*200px 0 157px 0;*/
  }

  .title {
    font-size: 50px;
    /*padding: 0 135px;*/
    margin-bottom: 40px;
  }

  .header-text {
    font-size: 18px;
    margin-bottom: 90px;
    padding: 0 80px;
  }

  .nav-menu {
    padding: 34px 0 32px 0;
  }

  .nav-logo {
    padding: 32px 0 32px 0;
  }
}

@media screen and (max-width: 864px) {
  .title {
    font-size: 45px;
    padding: 0 50px;
    margin-bottom: 60px;
  }

  .header-text {
    margin-bottom: 90px;
    padding: 0 70px;
  }

  .nav-menu {
    padding: 30px 0 29px 0;
  }

  .nav-logo {
    padding: 29px 0 29px 0;
  }
}

@media screen and (max-width: 800px) {
  .nav-row {
    display: flex;
  }

  .nav-menu {
    display: none;
  }

  .menu-btn {
    display: flex;
  }

  /*.hamburger-menu {
    display: block;
  }*/

  .nav-menu-burger {
    display: block;
  }

  .nav-menu-burger li {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 714px) {
  .title {
    font-size: 40px;
    padding: 0 40px;
    /*margin-bottom: 60px;*/
  }

  .header-text {
    margin-bottom: 110px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 561px) {
  /*.firstscreen {
    padding: 50px 0 0 0; /*200px 0 157px 0;
  }*/

  .title {
    font-size: 35px;
    padding: 0 30px;
    /*margin-bottom: 60px;*/
  }

  .header-text {
    /*margin-bottom: 110px;*/
    padding: 0 20px;
  }
}

@media screen and (max-width: 440px) {
  .title {
    font-size: 30px;
    padding: 0 10px;
    /*margin-bottom: 60px;*/
  }

  .header-text {
    margin-bottom: 80px;
    padding: 0 10px;
    font-size: 15px;
  }
}

/*норма до 290*/
