.team {
  width: 100%;
  background-color: rgba(112, 0, 0, 0.2);
  padding: 120px 120px 80px 120px;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.team-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 2% 40px 2%;
  width: 22%;
  margin: 0 0.94rem;
}

.team-item img {
  margin-bottom: 15px;
}

.name {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #2d3033;
  text-align: left;
  margin-bottom: 5px;
}

.profession {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #e84545;
  text-align: left;
  margin-bottom: 15px;
}

.team-text {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #6c7279;
  text-align: left;
  margin-bottom: 15px;
}

.team-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  height: 41px;
  width: 41px;
  border: 1px solid #6c7279;
  margin-right: 10px;
  text-align: center;
}

.team-icon i {
  font-size: 17px;
  color: #6c7279;
  padding: 12px 0;
}

.team-row {
  position: relative;
}

.team-row .slick-arrow {
  position: absolute;
  z-index: 10;
}

.team-row .slick-arrow.slick-next {
  right: 0;
}

.team-row .slick-arrow.slick-prev {
  left: 0;
}

/*@media screen and (max-width: 1053px) {
  .team {
    padding: 100px 90px 80px 100px;
  }
  .name {
    font-size: 20px;
  }

  .profession {
    font-size: 12px;
  }

  .team-text {
    font-size: 13px;
  }

  .icon {
    height: 37px;
    width: 37px;
  }

  .team-icon i {
    font-size: 17px;
    color: #6c7279;
    padding: 10px 0;
  }
}

@media screen and (max-width: 905px) {
  .team {
    padding: 100px 100px 60px 100px;
  }

  .team-row {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .team-item {
    justify-content: space-evenly;
    margin: 0 5% 40px 5%;
    width: 32%;
  }

  .name {
    font-size: 22px;
  }

  .profession {
    font-size: 13px;
  }

  .team-text {
    font-size: 14px;
  }

  .icon {
    height: 41px;
    width: 41px;
  }

  .team-icon i {
    font-size: 17px;
    padding: 12px 0;
  }
}

@media screen and (max-width: 778px) {
  .team {
    padding: 100px 80px 60px 80px;
  }

  .team-item {
    justify-content: space-evenly;
    margin: 0 5% 40px 5%;
    width: 35%;
  }
}*/

@media screen and (max-width: 1100px) {
  .team-row .slick-arrow {
    top: 25%;
  }
}

@media screen and (max-width: 700px) {
  .team {
    padding: 40px;
  }

  .team-row .slick-arrow {
    top: 35%;
  }
}
