@import url(../css/awesome.css);
@import url(../css/price.css);

* {
  margin: 0; /*сброс отступов*/
  padding: 0; /*сброс полей*/
  text-decoration: none; /*убрать подчеркивание*/
  list-style: none; /*сброс маркеров списка*/
  box-sizing: border-box; /*дает получить заданные размеры*/
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.awesome {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.price {
  width: 100%;
  background-color: rgb(233, 233, 233); /*#e5e5e5*/
}

.container {
  max-width: 1170px;
  margin: auto; /*выравнивание по центру*/
  padding: 0 15px; /*поля сверху-снизу и справа и слева*/
}

.title {
  font-size: 36px; /*размер шрифта 36*/
  font-family: Raleway, sans-serif; /*подключен шифр с жирностью 400*/
  font-weight: 400;
  color: rgb(33, 33, 33); /*цвет #212121  или 33 33 33*/
  text-align: center; /*выравнивание строки по центру*/
  padding-top: 100px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.line {
  border: 0;
  border-bottom: 2px solid rgb(217, 137, 67);
  width: 64px;
  margin: auto;
  /*padding-top: 25px;*/
  /*padding-bottom: 30px;*/
  /*padding-right: 0;*/
  /* text-align: center;*/
  margin-bottom: 30px;
}

.text {
  font-size: 14px;
  color: rgb(134, 135, 139);
  font-family: Open sans, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 67px;
}

*/ .footer {
  background-color: rgb(249, 251, 252);
}
