@import url(../css/awesome.css);

* {
  margin: 0; /*сброс отступов*/
  padding: 0; /*сброс полей*/
  text-decoration: none; /*убрать подчеркивание*/
  list-style: none; /*сброс маркеров списка*/
  box-sizing: border-box; /*дает получить заданные размеры*/
}

.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.awesome {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1170px;
  margin: auto; /*выравнивание по центру*/
  padding: 0 15px; /*поля сверху-снизу и справа и слева*/
}

.title {
  font-size: 36px; /*размер шрифта 36*/
  font-family: Raleway, sans-serif; /*подключен шифр с жирностью 400*/
  font-weight: 400;
  color: rgb(33, 33, 33); /*цвет #212121  или 33 33 33*/
  text-align: center; /*выравнивание строки по центру*/
  padding-top: 100px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.line {
  border: 0;
  border-bottom: 2px solid rgb(217, 137, 67);
  width: 64px;
  margin: auto;
  margin-bottom: 30px;
}

.text {
  font-size: 14px;
  color: rgb(134, 135, 139);
  font-family: Open sans, sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 67px;
}

.row {
  padding-bottom: 109px;
}

.awesome-item {
}

.item-icon {
  border: 1px solid rgb(217, 137, 67);
  border-radius: 70px 70px 70px 70px;
  width: 70px;
  height: 70px;
  margin: auto; /*выравнивание строки по центру*/
  margin-bottom: 30px;
}

.itemtitle {
  font-size: 20px; /*размер шрифта 20*/
  color: rgb(51, 51, 51); /*цвет #*/
  font-family: open sans, sans-serif; /*подключен шифр с жирностью 700*/
  font-weight: 700;
  text-align: center; /*выравнивание строки по центру*/
  margin-bottom: 16px;
}
.item-text {
  font-size: 14px; /*размер шрифта 14*/
  color: rgb(0, 0, 0); /*цвет #*/
  font-family: open sans, sans-serif; /*подключен шифр с жирностью 700*/
  font-weight: 400;
  text-align: center; /*выравнивание строки по центру*/
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

*/ .footer {
  background-color: rgb(249, 251, 252);
}
