.contacts {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 5em 0em 3.44em 0em;
}

.contacts-form {
  padding: 0.94rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

textarea {
  width: 100%;
  resize: none;
  border: none;
  border-bottom: 0.06rem solid rgba(189, 189, 189, 1);
}

textarea:focus {
  outline: none;
}

.btn-contacts {
  margin: auto;
  width: 15%;
}

.btn {
  width: 200px;
}

@media screen and (max-width: 768px) {
  .contacts-form {
    display: flex;
    flex-direction: column;
  }
}