.header {
  width: 100%;
  background: url("../img/bg/background.png") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 6.81em;
  padding-bottom: 6.31em;
  border-top: 0.1px solid rgba(255, 255, 255, 1);
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.header-container {
  position: relative;
  z-index: 1;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-block {
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.site-name {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 3.75rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.1rem whitesmoke;
}

.header-title {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  position: relative;
  margin-bottom: 5rem;
}

.header-title::after {
  content: " ";
  width: 4.18rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 2.43rem;
  position: absolute;
  left: 0;
  top: 100%;
}

.header-text {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 2.43rem;
}

.btn {
  width: 130px;
}

.btn a:hover {
  color: rgba(236, 121, 121, 1);
  font-weight: 700;
}

.form-block {
  margin: 0 -0.94rem 0 0; /*?*/
  display: flex;
  flex-direction: column;
  flex: 40%;
  justify-content: flex-end;
  margin-bottom: 1.25rem;
  padding-right: 0.94rem;
}

.form-container {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 23rem;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 1.25rem;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  color: rgba(36, 33, 32, 1);
  text-align: center;
  text-transform: initial;
  margin-bottom: 2rem;
  padding: 0.94rem 0;
}

.form-fields {
  width: 85%;
  margin: auto;
  padding-bottom: 1.5rem;
}

.form-field {
  padding-bottom: 1.5rem;
}

.hrl {
  margin: 0 3.6rem 2.98rem 3.6rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid rgba(189, 189, 189, 1);
}

label {
  font-family: Open Sans, sans-serif;
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(189, 189, 189, 1);
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: rgb(243, 241, 241);
  outline: none;
}

.registrbtn {
  background-color: rgba(236, 121, 121, 1);
  color: rgba(255, 255, 255, 1);
  padding: 1.25rem 0;
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header-row {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-wrap: wrap;
  }

  .header-block {
    width: 100%;
  }

  .header-title,
  .header-text,
  .site-name {
    text-align: center;
  }

  .header-title::after {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn {
    margin: 3rem auto;
  }
}
