@import url(../css/awesome.css);
@import url(../css/price.css);
@import url(../css/customers.css);
@import url(../css/axure.css);
@import url(../css/nav.css);
@import url(../css/header.css);
@import url(../css/social.css);
@import url(../css/contacts.css);
@import url(../css/footer.css);

* {
  margin: 0; /*сброс отступов*/
  padding: 0; /*сброс полей*/
  text-decoration: none; /*убрать подчеркивание*/
  list-style: none; /*сброс маркеров списка*/
  box-sizing: border-box; /*дает получить заданные размеры*/
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.logotipstyle {
  color: rgba(236, 121, 121, 1);
}

.title {
  font-size: 36px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  color: rgb(33, 33, 33);
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.line {
  border: 0;
  border-bottom: 2px solid rgb(217, 137, 67);
  width: 64px;
  margin: auto;
  margin-bottom: 34px;
}

.text {
  font-size: 14px;
  color: rgb(134, 135, 139);
  font-family: Open sans, sans-serif;
  font-weight: 400;
  text-align: center;
  /*margin-bottom: 67px;*/
}

.button {
  margin-top: 40px;
  width: 135px;
  height: 42px;
  /*margin: auto;*/
  border: 1px solid rgba(196, 196, 196, 1);
}

.button a {
  line-height: 40px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  font-family: Open sans, sans-serif;
  font-weight: 600;
  padding-left: 30px;
  padding-right: 30px;
}
